@import "../../../styles/Variable";

.header-wrapper-background {
  background-color: #1a1c22;
}

.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999999999999;

  .header {
    height: 72px;
    backdrop-filter: blur(3px); /* Làm mờ phần nền phía sau */
    z-index: 1000; /* Đảm bảo nằm trên các phần tử khác */
    display: flex;
    justify-content: space-between;
    padding: 0 64px;
    align-items: center;
    transition: background-color 0.3s ease-in-out;
    //background-color: #111319;

    /* Left Section */
    &__left {
      height: 100%;
      display: flex;
      align-items: center;

      * {
        color: $text_color1;
        font-size: 16px;
        font-weight: 500;

        &:hover {
          color: $text_color1_hover;
        }
      }

      .active {
        font-weight: bold;
        color: #fff;
      }

      &--menu {
        display: none;
      }

      /* Logo */
      &--logo {
        margin-right: 16px;
        height: 100%;
        display: flex;
        align-items: center;

        img {
          height: 100%;
        }
      }

      /* Navigation Link */
      &--link {
        margin-right: 16px;
        text-decoration: none;
        transition: color 0.3s;

        &:hover {
          color: $text_color1_hover;
        }
      }

      /* Dropdown Trigger */
      &--dropdown-trigger {
        cursor: pointer;
        padding: 8px;
        transition: color 0.3s;

        &:hover {
          color: $text_color1_hover;
        }
      }

      /* Dropdown Menu Items */
      &--dropdown-item {
        padding: 8px 16px;
        text-decoration: none;
        color: #333;
        text-align: center;
        transition: background-color 0.3s, color 0.3s;

        &:hover {
          background-color: #f5f5f5;
          color: #007bff;
        }
      }
    }

    /* Right Section */
    &__right {
      display: flex;
      align-items: center;

      > * {
        margin-left: 35px;
      }

      &--information {
        display: flex;
        align-items: center;
        gap: 35px;

        &--item {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          color: rgba(255, 255, 255, 0.8);
          font-size: 14px;
          cursor: pointer;
          transition: color 0.3s;
          .profile-link {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-decoration: none;
            color: inherit;
          }

          .profile-icon {
            font-size: 24px; /* Kích thước của icon */
          }

          .profile-text {
            margin-top: 4px; /* Khoảng cách giữa icon và chữ */
            font-size: 14px; /* Kích thước chữ */
          }

          svg {
            font-size: 24px; /* Kích thước icon */
            margin-bottom: 4px; /* Khoảng cách giữa icon và chữ */
          }

          span {
            font-size: 12px !important; /* Kích thước chữ nhỏ hơn */
          }

          &:hover {
            color: $text_color1_hover  ; /* Đổi màu khi hover */
          }
        }
      }

      &--app {
        display: flex;
        -moz-box-align: center;
        align-items: center;
        -moz-box-pack: center;
        justify-content: center;
        outline: none;
        width: 80px;
        height: 34px;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 4px;
        font-size: 14px;
        cursor: pointer;

        span {
          margin-left: 5px;
        }

        &:hover {
          color: $text_color1_hover;
          border-color: $text_color1_hover;
        }
      }

      &--vip {
        display: flex;
        flex-direction: column; /* Sắp xếp nội dung theo cột */
        align-items: center; /* Căn giữa nội dung */
        justify-content: center;
        width: 80px; /* Chiều rộng cố định */
        border-radius: 4px;
        overflow: hidden; /* Cắt phần thừa */

        /* Phần nền trên */
        &::before {
          content: "Limited Tim..."; /* Text ở phần trên */
          display: block;
          width: 100%;
          background-color: #FF5733; /* Màu đỏ đậm */
          color: white; /* Màu chữ trắng */
          font-size: 12px;
          text-align: center;
          padding: 2px 0; /* Khoảng cách dọc */
          white-space: nowrap; /* Không cho xuống dòng */
          overflow: hidden; /* Cắt chữ nếu quá dài */
          text-overflow: ellipsis; /* Thêm dấu "..." */
        }

        /* Phần icon phía dưới */
        svg {
          background-color: #F4C27E; /* Màu nền vàng nhạt */
          //padding: 1px; /* Khoảng cách xung quanh icon */
          border-radius: 0 0 4px 4px; /* Bo góc chỉ phần dưới */
          font-size: 24px; /* Kích thước icon */
          width: 100%;
          text-align: center; /* Căn giữa */
          color: black; /* Màu của icon */
        }
      }

    }

    &--scrolled {
      background-color: #1a1c22; // Màu tối hơn khi scroll xuống
      z-index: 9999999;
    }
  }

  .header_category {
    display: none;
    background-color: #1a1c22;
    height: 40px;
    padding-left: 24px;
    padding-bottom: 15px;
    border-bottom: 1px solid #1a1c22;

    &--link {
      color: $text_color1;
      text-decoration: none;
      margin-right: 25px;

      &:hover {
        color: $text_color1_hover;
      }
    }

    .active {
      font-weight: bold;
      color: #fff;
      white-space: nowrap;
    }
  }

  @media (max-width: 1200px) {
    .header {
      .header__left {
        .header__left--link {
          display: none;
        }
      }
    }
  }

  @media (max-width: 992px) {
    .header {
      padding: 0 50px;

      &__right {
        &--information {
          &--item {
            span {
              display: none;
            }
          }
        }

        &--app {
          border: none;
          padding: 0;
          margin-left: 12px;
          width: 50px;

          svg {
            width: 24px;
            height: 24px;
          }

          span {
            display: none;
          }
        }
      }
    }

    .header__left--link {
      font-size: 14px;
      margin-right: 12px;
    }
  }

  @media (max-width: 768px) {
    .header {
      height: 50px;
      padding: 0 24px;
      background-color: #1a1c22;
      z-index: 9999999;

      &__left {
        &--menu {
          display: inline-block;
          margin-right: 10px;
          cursor: pointer;

          svg {
            width: 24px;
            height: 24px;
          }

          &:hover {
            color: $text_color1_hover;
          }
        }

        &--logo {
          margin-right: 8px;

          img {
            height: 35px;
          }
        }

        &--dropdown-trigger {
          display: none;
        }
      }

      &__right {
        &--information, &--vip {
          display: none;
        }

        &--app {
          span {
            display: inline-block;
          }

          display: flex;
          width: 63px;
          height: 28px;
          background-color: rgb(28, 199, 73);
          border-radius: 4px;
          -moz-box-align: center;
          align-items: center;
          -moz-box-pack: center;
          justify-content: center;
          margin-left: 12px;
          font-size: 13px;

          &:hover {
            color: #fff;
            background-color: rgb(72, 209, 108);
          }
        }
      }
    }

    .header_category {
      display: flex;
      align-items: flex-end;
    }
  }
}