.profile-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  //max-width: 600px;
  margin: 40px auto;
}

.profile-edit {
  position: absolute;
  top: 0;
  right: 0;


  button {
    color: #1890ff;
    background-color: transparent;
    border: none;
    box-shadow: none;
    transition: color 0.3s;

    &:hover {
      color: #0050b3;
    }
  }
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.profile-fullname {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.profile-role {
  font-size: 1rem;
  color: #777;
  margin-top: 5px;
}

.profile-details {
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-info {
  margin-bottom: 15px;
}

.profile-info strong {
  font-weight: bold;
  color: #333;
}

.profile-info p {
  margin: 5px 0;
  color: #555;
  font-size: 0.95rem;
}

@media (max-width: 768px) {
  .profile-container {
    padding: 15px;
    margin: 20px auto;
  }
  .profile-avatar {
    width: 100px;
    height: 100px;
  }
  .profile-fullname {
    font-size: 1.25rem;
  }
}